<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="mecanum">
    <xacro:include filename="mecanum.xacro"/>
     <!-- <xacro:include filename="ack.xacro"/> -->
    <xacro:include filename="inertial_matrix.xacro" />
    <!-- <xacro:include filename="ros2_control.xacro"/> -->

</robot>
