<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="my_rover">

  <!-- 1. Include the original mentorpi URDF macro -->
  <xacro:include filename="$(find mentorpi_description)/urdf/robot.urdf.xacro" />

  <!-- 2. (Optional) include your own helper xacros -->
  <xacro:arg name="use_ros2_control" default="true"/>

  <!-- xacro:include filename="$(find my_rover)/description/inertial_macros.xacro"/-->
  <!-- <xacro:include filename="lidar.xacro" /> -->
  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="ros2_control_mec.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="gazebo_control.xacro" />
  </xacro:unless>


</robot>
